:root{
    --theme-color-3:#66FFCC;
    --theme-color-2:#FF0066;
    --theme-color-1:#008f30;
    /* --theme-color-1:#4989ff; */
}
::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-track{
    display: none;
}
::-webkit-scrollbar-thumb{
    background: rgb(224, 222, 222);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    cursor: pointer;
}
section{
    min-height: 99vh;
    background-color: #f5fbff;
    padding-top: 1vh;
}
section.p{
    min-height: 98vh;
    padding: 1vh 0;
}
section.h-auto{
    min-height: auto;
}
.heading{
    text-align: center;
    color: rgb(63, 63, 63);
    margin-bottom: 20px;
    font-size: 2em;
}
.subheading{
    display: block;
    text-align: center;
    font-weight: bold;
    color: var(--theme-color-1);
    margin-top: 20px;
    margin-bottom: 5px;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.p{
    padding: 10px;
}
.grid{
    display: grid;
}
.cols-2{
    grid-template-columns: repeat(1,minmax(0,1fr));
}
.cols-3{
    grid-template-columns: repeat(1,minmax(0,1fr));
}
.gap-2{
    gap: 2em;
}
.card{
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    color: var(--theme-color-1);
    background-color: white;
}
.card h2{
    margin-bottom: 10px;
    font-weight: normal;
}
.card p{
    line-height: 26px;
    font-size: 17px;
}
.contact-card{
    background-color: rgb(6, 196, 107);
    padding: 30px 20px;
    color: white;
}
.contact-card h2{
    font-weight: normal;
    margin-bottom: 10px;
}
.contact-card p{
    line-height: 25px;
}
.contact-card .btn{
    padding: 10px 20px;
    display: block;
    border: 1px solid white;
    width: max-content;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    margin-top: 10px;
    transition: 0.3s;
}
.contact-card .btn:hover{
    background-color: white;
    color: var(--theme-color-1);
}
.contact-card.mid{
    background-color: var(--theme-color-1);
}
.pulse{
    position: relative;
}
.pulse::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-color-1);
    border-radius: 50px;
    z-index: 1;
    animation: pulse 1s linear infinite;
}
@keyframes pulse {
    from{
        transform: scale(1);
    }
    to{
        transform: scaleX(2),scaleY(1.4);
        opacity: 0;
    }
}
@media (min-width:768px) {
    .cols-2{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}
@media (min-width:992px) {
    .cols-3{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
}